@media (max-width: 1920px) { 
  body {
    min-width: 1024px;
  }

  .header {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container {
    max-width: 924px;
    padding: 0;
  }

  .header__logo {
    width: 150px;
  }

  .header-nav {
    margin-right: 106px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 60px;
  }

  .hero {
    padding-top: 40px;
  }

  .hero__container {
    height: 668px;
    background-image: url(../img/hero1024.jpg);
    padding-left: 77px;
  }

  .hero__title {
    padding-top: 160px;
    font-size: 60px;
    line-height: 73.14px;
    margin-bottom: 16px;
  }

  .hero__descr {
    width: 660px;
    font-size: 20px;
    line-height: 24.38px;
    margin-bottom: 59px;
  }

  .hero__btn {
    padding: 24px 35px;
    font-size: 24px;
    line-height: 29.26px;
  }

  .about {
    padding-top: 36px;
  }

  .about__descr {
    width: 100%;
  }

  .about__descr:not(:nth-child(2n)) {
    margin-bottom: 60px;
  }

  .about-br__descr {
    display: inline-block;
  }

  .about-content__left {
    width: 100%;
    height: 640px;
    background-image: url(../img/about1024.jpg);
    background-size: cover;
    margin-bottom: 0px;
  }

  .about-content__basic {
    padding-left: 316px;
  }

  .item-top,
  .item-bottom {
    background-position: left 76px center;
  }

  .about-content__right,
  .about-content__item,
  .about-content__main {
    width: 100%;
  }

  .stages {
    padding-top: 78px;
  }

  .stages__left {
    width: 50%;
    margin-right: 50px;
  }

  .stages__descr {
    width: 100%;
  }

  .stages__right {
    width: 50%;
    height: auto;
    background-image: url(../img/stages1024.jpg);
    background-repeat: no-repeat;
    transform: translateY(10px);
  }

  .stages__photo {
    display: none;
  }

  .stages__content {
    margin-bottom: 23px
  }

  .questions {
    padding-top: 0;
    margin-bottom: 80px;
  }

  .questions__title {
    margin-bottom: 28px;
  }

  .questions__item {
    width: 100%;
  }

  .questions__heading {
    width: 100%;
    margin-bottom: 6px;
  }

  .questions__descr {
    width: 100%;
  }

  .footer__left {
    margin-right: 132px;
  }

  .footer__form {
    max-width: 541px;
  }

  .form__btn {
    padding: 20px 37px;
  }

  .footer__right {
    display: none;
  }
}