html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light'), local('Montserrat-Light'),
		url('../fonts/MontserratLight.woff2') format('woff2'),
    url('../fonts/MontserratLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
		url('../fonts/MontserratMediumItalic.woff2') format('woff2'),
    url('../fonts/MontserratMediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Thin'), local('Montserrat-Thin'),
		url('../fonts/MontserratThin.woff2') format('woff2'),
    url('../fonts/MontserratThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
		url('../fonts/MontserratExtraLightItalic.woff2') format('woff2'),
    url('../fonts/MontserratExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
		url('../fonts/MontserratBoldItalic.woff2') format('woff2'),
    url('../fonts/MontserratBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
		url('../fonts/MontserratExtraLight.woff2') format('woff2'),
    url('../fonts/MontserratExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
		url('../fonts/MontserratExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/MontserratExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Italic'), local('Montserrat-Italic'),
		url('../fonts/MontserratItalic.woff2') format('woff2'),
    url('../fonts/MontserratItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
		url('../fonts/MontserratLightItalic.woff2') format('woff2'),
    url('../fonts/MontserratLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
		url('../fonts/MontserratBlackItalic.woff2') format('woff2'),
    url('../fonts/MontserratBlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('../fonts/MontserratSemiBoldItalic.woff2') format('woff2'),
    url('../fonts/MontserratSemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../fonts/MontserratBlack.woff2') format('woff2'),
    url('../fonts/MontserratBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
		url('../fonts/MontserratThinItalic.woff2') format('woff2'),
    url('../fonts/MontserratThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0;
  margin-bottom: 32px;
}

.btn {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.04px;
  border-radius: 16px;
  color: var(--white-color);
  background-color: var(--orange-color);
}

:root {
  --gap: 32px;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --orange-color: #FF9900;
  --light-orange-color: #FFB84D;
  --dark-orange-color: #E1670E;
  --grey-color: #CACACA;
  --light-grey-color: #666666;
  --dark-grey-color: #414141;
}

/* header */
.header {
  background-color: var(--white-color);
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
  height: 100px;
}

.header__logo {
  padding: 14px 0 12px 0;
  margin-right: auto;
}

.header-nav {
  margin-right: 85px;
}

.header-nav__item:not(:last-child) {
  margin-right: 85px;
}

.header-nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.94px;
  color: var(--black-color);
  transition: color 0.3s ease-in-out;
}

.header-nav__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange-color);
}

.header-nav__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header-nav__link:hover {
  outline: none;
}

.header-nav__link:hover::after {
  opacity: 1;
}

.header-nav__link:active {
  color: var(--dark-orange-color);
  outline: none;
}

.header-nav__link:active::after {
  background-color: var(--dark-orange-color);
  transition: background-color 0.3s ease-in-out;
}

.header__search svg {
  fill: transparent;
  stroke: var(--black-color);
  transition: stroke 0.3s ease-in-out;
}

.header__search:focus svg {
  outline-offset: 4px;
  outline: 2px solid var(--orange-color);
}

.header__search:hover svg {
  stroke: var(--orange-color);
}

.header__search:active svg {
  outline: none;
  stroke: var(--black-color);
}

/* hero */
.hero {
  padding-top: 50px;
}

.hero__container {
  flex-direction: column;
  align-items: flex-start;
  height: 620px;
  padding-top: 100px;
  padding-left: 95px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 32px;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85.33px;
  color: var(--white-color);
}

.hero__descr {
  max-width: 790px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--white-color);
  margin-bottom: 90px;
}

.hero__btn {
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--light-orange-color);
}

.hero__btn:hover {
  background-color: var(--light-orange-color);
}

.hero__btn:active {
  background-color: var(--dark-orange-color);
}

/* about-us */
.about {
  padding-top: 50px;
}

.about__container {
  width: 1800px;
  flex-direction: column;
}

.about__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--black-color);
}

.about__descr {
  margin: 0;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__descr:not(:nth-child(2n)) {
  margin-bottom: 50px;
}

.about-br__descr {
  display: none;
}

.about-content {
  flex-direction: row;
  align-items: flex-start;
  --offsets: 1;
  gap: var(--gap);
  flex-wrap: wrap;
}

.about-content__left {
  align-items: flex-end;
  background-image: url(../img/about-us-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 49%;
  width: calc((100% - var(--gap)) / var(--offsets) + 1);
  height: 622px;
}

.about-content__main {
  margin: 0;
  padding: 50px;
  width: 868px;
  align-items: center;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-content__descr {
  margin: 0;
  margin-right: auto;
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.about-content__btn {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--white-color);
  background-color: transparent;
  border: 3px solid var(--orange-color);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-content__btn:focus {
  background-color: var(--orange-color);
}

.about-content__btn:hover {
  background-color: var(--orange-color);
}

.about-content__btn:active {
  background-color: var(--dark-orange-color);
  border-color: var(--dark-orange-color);
}

.about-content__item {
  width: 870px;
  height: 295px;
  border: 1px solid var(--grey-color);
  border-radius: 32px;
}

.about-content__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-top {
  background-image: url(../img/cube.svg);
  background-repeat: no-repeat;
  background-size: 190px 165px;
  background-position: left 60px center;
}

.item-bottom {
  background-image: url(../img/settings.svg);
  background-repeat: no-repeat;
  background-size: 190px 165px;
  background-position: left 60px center;
}

.about-content__basic {
  padding-left: 300px;
}

.about-content__title {
  margin: 0;
  padding-top: 65px;
  width: 452px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--black-color);
  margin-bottom: 8px;
}

.about-content__paragraph {
  margin: 0;
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

/* stages */
.stages {
  padding-top: 100px;
}

.stages__block {
  margin-bottom: 85px;
}

.stages__title {
  width: 154px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--black-color);
  margin-bottom: 33px;
}

.stages__heading {
  width: 331px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
}

.stages__left {
  flex-direction: column;
  margin-right: auto;
}

.stages__content {
  flex-direction: column;
  margin-bottom: 18px;
}

.stages__heading {
  margin: 0;
  width: 331px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  margin-bottom: 8px;
}

.stages__descr {
  margin: 0;
  width: 750px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

.stages__buttons-more {
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  margin-right: 32px;
  transition: background-color 0.3s ease-in-out;
}

.stages__buttons-more:focus {
background-color: var(--light-orange-color);
}

.stages__buttons-more:hover {
  background-color: var(--light-orange-color);
}

.stages__buttons-more:active {
  background-color: var(--dark-orange-color);
}

.stages__buttons-contract {
  padding: 19px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--black-color);
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.stages__buttons-contract:focus {
  color: var(--white-color);
  background-color: var(--light-grey-color);
  border: none;
}
  
.stages__buttons-contract:hover {
  color: var(--white-color);
  background-color: var(--light-grey-color);
  border: none;
}
  
.stages__buttons-contract:active {
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
}

.stages__right {
  max-width: 870px;
  height: 460px;
}

.stages__photo {
  object-fit: cover;
  transform: translateY(10px);
}

/* questions */
.questions {
  padding-top: 15px;
  margin-bottom: 98px;
}

.questions__title {
  width: 693px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--black-color);
}

.questions__list {
  --offsets: 2;
  gap: var(--gap);
  flex-wrap: wrap;
}

.questions__item {
  flex-direction: column;
  padding: 65px 58px;
  width: calc((100% - (var(--gap) * var(--offsets))) / var(--offsets) + 1);
  border: 1px solid var(--grey-color);
  border-radius: 32px;
}

.questions__heading {
  margin: 0;
  width: 412px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--black-color);
  margin-bottom: 8px;
}

.questions__descr {
  margin: 0;
  width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
}

/* footer */
.footer {
  background-color: var(--black-color);
}

.footer__container {
  height: 594px;
}

.footer__left {
  min-width: 252px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 349px;
}

.footer__logo {
  min-width: 224px;
  margin-bottom: 17px;
}

.footer-nav {
  margin-bottom: 90px;
}

.footer-nav .footer-nav__list {
  flex-direction: column;
}

.footer-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey-color);
  transition: color 0.3s ease-in-out;
}

.footer-nav__link:focus {
  color: var(--grey-color);
  outline: 2px solid var(--orange-color);
  outline-offset: 5px;
}

.footer-nav__link:hover {
  color: var(--orange-color);
}

.footer-nav__link:active {
  color: var(--dark-orange-color);
  outline: none;
}

.footer-list__link svg {
  fill: var(--light-grey-color);
  transition: fill 0.3s ease-in-out;
}

.footer-list__link:focus svg {
  fill: var(--light-grey-color);
  outline-offset: 5px;
  outline: 2px solid var(--orange-color);
}

.footer-list__link:hover svg {
  fill: var(--orange-color);
}

.footer-list__link:active svg {
  fill: var(--dark-orange-color);
  outline: none;
}

.footer-list__item:not(:last-child) {
  margin-right: 25px;
}

.footer__center {
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 570px;
  margin-right: 236px;
}

.footer__title {
  width: 408px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.51px;
  color: var(--grey-color);
  margin-bottom: 25px;
}

.form__top {
  flex-direction: column;
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 14px 24px;
  border-radius: 16px;
  border: none;
  background-color: var(--dark-grey-color);
  color: var(--grey-color);
  margin-bottom: 25px;
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  background-color: var(--light-grey-color);
}

.form__input:hover {
  background-color: var(--light-grey-color);
}

.form__input:active {
  color: var(--white-color);
  background-color: var(--light-grey-color);
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding: 22px 24px;
  border-radius: 16px;
  border: none;
  background-color: var(--dark-grey-color);
  color: var(--grey-color);
  resize: none;
  margin-bottom: 32px;
  transition: background-color 0.3s ease-in-out;
}

.form__textarea:focus {
  background-color: var(--light-grey-color);
}

.form__textarea:hover {
  background-color: var(--light-grey-color);
}

.form__textarea:active {
  color: var(--white-color);
  background-color: var(--light-grey-color);
}

.form__btn {
  margin-right: 22px;
  padding: 20px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:focus {
  background-color: var(--light-orange-color);
}

.form__btn:hover {
  background-color: var(--light-orange-color);
}

.form__btn:active {
  background-color: var(--dark-orange-color);
}

.form__check {
  user-select: none;
  cursor: pointer;
  align-items: center;
}

.form__text {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding-left: 20px;
  color: var(--grey-color);
}

.form__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey-color);
  transform: translateY(-50%);
}

.form__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url(../img/approve.svg);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__input-active:checked + .form__text::after {
  opacity: 1;
}

.form__input-active {
  position: absolute;
  appearance: none;
  padding-left: 22px;
}

.footer__right {
  padding-top: 137px;
  padding-bottom: 137px;
}

.footer__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}